.element__like {
    background-image: url("../../../images/like.svg");
    border: none;
    background-color: transparent;
    width: 22px;
    height: 19px;
    cursor: pointer;
    opacity: 1;
    transition: opacity .2s;
}

.element__like:hover {
    opacity: .5;
}

.element__like:active {
    background-image: url("../../../images/like-black.svg");
}