.popup__container {
    padding: 34px 36px 37px 36px;
    box-sizing: border-box;
    position: relative;
    border-radius: 10px;
    background-color: #fff;
    width: 430px;
    height: 330px;
    opacity: 1;
    top: calc(50% - 330px / 2);
    left: calc(50% - 430px / 2);
}

@media screen and (max-width: 550px) {
    .popup__container {
        padding: 25px 22px 25px 22px;
        width: 282px;
        height: 322px;
        top: calc(50% - 322px / 2);
        left: calc(50% - 282px / 2);
    }
}