.element__like-label:hover {
    opacity: .5;
}

.element__like-input ~ label {
    background-image: url("../../../images/like.svg");
    width: 22px;
    height: 19px;
    cursor: pointer;
    opacity: 1;
    transition: opacity .2s;
}

.element__like-input:checked ~ label {
    background-image: url("../../../images/like-black.svg");
    width: 22px;
    height: 19px;
    cursor: pointer;
    opacity: 1;
    transition: opacity .2s;
}