.form__data {
    width: 100%;
    border: none;
    outline: none;
    padding: 0;
    margin-bottom: 5px;
    border-bottom: 1px solid #cccccc;
    height: 40px;
    box-sizing: border-box;
    color: #000;
    font-family: "Inter", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}