.profile__description {
    margin: 0 0 22px;
    padding: 0;
    max-width: 336px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-rendering: optimizeLegibility;
}

@media screen and (max-width: 856px) {
    .profile__description {
        font-size: 14px;
        max-width: 282px;
        margin-bottom: 36px;
        text-align: center;
    }
}