.popup__caption {
    max-width: 330px;
    margin-top: 34px;
    margin-bottom: 41px;
    margin-left: 36px;
    font-family: "Inter", "Helvetica Neue", sans-serif;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

@media screen and (max-width: 550px) {
    .popup__caption {
        margin: 25px 0 62px 22px;
        max-width: 238px;
        font-size: 18px;
    }
}